<mat-toolbar class="navbar">
  <span class="navbar-title">Gym Tracker</span>
  <span class="spacer"></span>

  <!-- Inline nav for wide screens -->
  <ng-container *ngIf="auth.isLoggedIn() && isWideScreen">
    <a mat-button routerLink="/dashboard">Dashboard</a>
    <a mat-button routerLink="/progress">Progress</a>
    <button mat-button class="logout-button" (click)="logout()">
      <mat-icon>logout</mat-icon>Logout
    </button>
  </ng-container>

  <ng-container *ngIf="!auth.isLoggedIn() && isWideScreen">
    <a mat-button routerLink="/login">Login</a>
    <a mat-button routerLink="/register">Register</a>
  </ng-container>

  <!-- Burger menu on mobile -->
  <button
    *ngIf="!isWideScreen"
    mat-icon-button
    (click)="mobileMenuOpen = !mobileMenuOpen"
    class="mobile-menu-button"
    aria-label="Toggle navigation menu"
  >
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<mat-nav-list *ngIf="!isWideScreen && mobileMenuOpen" class="mobile-nav">
  <ng-container *ngIf="auth.isLoggedIn(); else guest">
    <a mat-list-item routerLink="/dashboard" (click)="mobileMenuOpen = false">Dashboard</a>
    <a mat-list-item routerLink="/progress" (click)="mobileMenuOpen = false">Progress</a>
    <a mat-list-item class="logout-button" (click)="logout(); mobileMenuOpen = false">Logout</a>
  </ng-container>
  <ng-template #guest>
    <a mat-list-item routerLink="/login" (click)="mobileMenuOpen = false">Login</a>
    <a mat-list-item routerLink="/register" (click)="mobileMenuOpen = false">Register</a>
  </ng-template>
</mat-nav-list>

<router-outlet></router-outlet>
